.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(43, 43, 43);
  padding: 10px 15px;
  max-width: 13vw;
}
.sidebar .top {
  margin-top: 15px;
}
.sidebar img {
  width: 20px;
}
.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}
.sidebar .new-chat {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  padding: 10px 15px;
  background-color: #719ae0;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  max-width: 92px;
}
.sidebar .back{
  display: inline-flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  padding: 10px 15px;
  background-color: #de4f4f;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 2s;
  color: white;
  animation: fadeIn 1.5s;
}
.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}
.sidebar .bottom {
  display: flex;
  flex-direction: column;
}
.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
  color: white;
}

@media (max-width: 600px) {
  .sidebar{

  }
}

.recent {
  margin-top: 10px;
}

.recent-title {
  margin-bottom: 5px;
}

.search-history {
  list-style-type: none;
  padding-left: 0;
}

.search-history li {
  cursor: pointer;
  margin-bottom: 5px;
}

.truncate-text {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  max-width: 150px;
}
